@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./Images/bg-image.png);
  background-size: cover;
  font-family: sans-serif;
}
ul {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 85px;
}
.abt {
  position: relative;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
li {
  margin-top: 38px;
}
.logoh {
  width: 44px;
  height: 44px;
  margin-top: 25px;
}
.div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 135px;
  padding-bottom: 20px;
}
h1 {
  color: #ffffff;
  font-weight: 700px;
  font-size: 64px;
  letter-spacing: 4.5px;
}
p {
  color: #ffffff;
  font-weight: 400px;
  font-size: 18px;
  max-width: 504px;
  line-height: 140%;
}
.button {
  background-color: #00afdb;
  width: 186px;
  height: 46px;
  color: #ffffff;
  border: none;
  margin-top: 30px;
}
.button:hover {
  color: #0e404c;
  cursor: pointer;
  transition: 0.3s;
}

.div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 183px;
  gap: 30px;
}
